<div class="movies-container">
    @for (movie of movies; track movie.id) {
    <div class="movie-card">
        <h2 class="movie-title">{{ movie.title }}</h2>
        <ul class="movie-details">
            <li><strong>Año:</strong> {{ movie.year }}</li>
            <li><strong>Valoración:</strong> {{ movie.rating }}</li>
            <li><strong>País:</strong> {{ movie.country }}</li>
            <li><strong>Sinopsis:</strong> {{ movie.synopsis }}</li>
        </ul>

        <div class="movie-image">
            <img [src]="movie.image" [alt]="movie.title" />
        </div>
    </div>
    } @empty {
    <p>No hay películas disponibles.</p>
    }
</div>