/* ==============================================================
   MAIN CONTENT ESTILO HEADER MODERNO
   ============================================================== */

.main-content {
  background: linear-gradient(180deg, #160435 10%, #2F2FFF 100%);
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 1px 20px 3px var(--color-accent1);
  max-width: 800px;
  text-align: center;
  color: white;
  opacity: 0;
  transform: scale(0.95) translateY(20px);
  animation: formFadeIn 0.8s ease-out 0.2s forwards;
}

.main-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Righteous', sans-serif;
  color: var(--color-accent2);
  text-shadow: 2px 2px var(--color-accent1);
}

.main-content p {
  color: #ccc;
  margin-bottom: 2rem;
  font-family: 'Montserrat', sans-serif;
}

/* ==============================================================
   BOTONES DE ACCIONES
   ============================================================== */
.actions button {
  background: var(--color-accent2);
  font-family: 'Monoton';
  border: none;
  color: var(--color-primary);
  text-shadow: 2px 2px var(--color-accent2);
  padding: 0.8rem 1.6rem;
  border-radius: 50px;
  margin: 0 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.8s ease, box-shadow 0.8s ease, background-color 0.8s ease, color 0.8s ease;
}

.actions button:hover {
  transform: translateY(-6px);
  background-color: var(--color-accent1);
  box-shadow: 0 0 20px rgba(255, 159, 28, 0.6);
  color: var(--color-primary);
}

/* ==============================================================
   EXTRA LINKS
   ============================================================== */
.extra-links {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
}

.extra-links a:first-child::after {
  content: '|';
  margin-left: 12px;
  color: #ccc;
  pointer-events: none;
}

.extra-links a {
  color: var(--color-accent2);
  text-decoration: none;
  transition: color 0.8s ease, text-decoration 0.8s ease;
}

.extra-links a:hover,
.extra-links a:focus {
  text-decoration: underline;
  outline: none;
}

.separator {
  color: var(--color-primary);
}

@keyframes formFadeIn {
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}